<a class="logo" href="/"><img src="../images/logo.png" alt="logo"></a>
<div class="cart">
  <a href="/menu">
    <span class="left">Shopping Cart</span><span class="right"><!--
    --><span class="count">{{quantity}}</span> items</span>
  </a>
</div>